<h1>This is the reservation page. All your reservations will be here.</h1>

<h2>The info of your listings:</h2>
<ul>
	<% @reservations.order('created_at DESC').each do |r| %>
		<h1><li><%="#{r.listing.home_type} in #{r.listing.city}"%></li></h1>
		
		<% r.listing.avatars.each do |image| %>
			<%= image_tag image.url %>
		<% end %>
		
		<p><%="#{r.listing.home_type} in #{r.listing.city}"%></p>
		<p>City: <%= r.listing.city %>, Country: <%= r.listing.country_name %></p>
		<p>Description: </p>
		<p>
			<%= r.listing.description.nil? ? "There is no description provided by the host." : r.listing.description %>
		</p>
		<p><%= "Price :#{r.listing.price}" %></p>
	
		<p>
			Start time: <%= r.start_date %><br>
			End time: <%= r.end_date %>
		</p>

		<% if !r.confirm_status %>
			<%= "#{"Total amount: RM".ljust(100) + r.total_price.to_s}" %>
			<%= button_to "Make payment now", payment_new_path(r), method: :get, data: { confirm:"Make payment now?" } %>
		<% end %>

	<% end %>
</ul>