<div class="jumbotron">
	<h1>Welcome to Pear - Bear and Bear</h1>
	<p>A platform for hosting personalised home-staying experiences.</p>
	<%= button_to  %>
</div>
<div class="line1">
	<h4>
		Increasingly, flexible, personal, and hospitable accommodations are displacing the traditional establishments.
	</h4>
</div>
<div class="line2">
	<h4>
		At PBB, we strive to offer more than just a place to stay during your travels. 
	</h4>
	<h4>
		Nothing gives us more pleasure than a positive review on a host.
	</h4>
</div>	



<p>Search based on criteria below:</p>

<%= form_tag listings_search_path, method: :get do %>
Starting price: <%= number_field_tag(:start_amount) %> Upper cap: <%= number_field_tag(:end_amount) %><br>
City: <%= text_field_tag(:city,) %><br>
Number of bedrooms: <%= number_field_tag(:num_of_bedroom) %> <br>
Number of bathrooms: <%= number_field_tag(:num_of_bathroom) %> <br>
<%= submit_tag "Search" %>
<% end %>


