<h1>This is the home page.</h1>

<h2>In future, it should display the listings#show page.</h2>

<p>Search based on criteria below:</p>

<%= form_tag listings_search_path, method: :get do %>
	Starting price: <%= number_field_tag(:start_amount) %> Upper cap: <%= number_field_tag(:end_amount) %><br>
	City: <%= text_field_tag(:city,) %><br>
	Number of bedrooms: <%= number_field_tag(:num_of_bedroom) %> <br>
	Number of bathrooms: <%= number_field_tag(:num_of_bathroom) %> <br>
	<%= submit_tag "Search" %>
<% end %>

