<h1>This is the home page.</h1>

<h2>In future, it should display the listings#show page.</h2>
<% @listing = Listing.new %>

<%= form_for @listing do |f| %>
  <%= f.label :home_type, 'Home Type' %><br>
	<%= check_box_tag(:home_type) %>
	<%= label_tag(:home_type, "I own a dog") %>
	<%= check_box_tag(:home_type) %>
	<%= label_tag(:home_type, "I own a cat") %>
	<br><br> 
	<%= f.label :home_type %>
	<%= f.select :home_type, options_for_select(Listing.home_types), prompt:"Please select your home type" %>
	<%= f.label :price, 'Price per night' %>
	<%= f.number_field :price, placeholder: 'Price format: 199.99 (no symbol)' %>          
	<%= label_tag :tags, "Select tags for your listing:" %>
	<%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tag_description %>
<%  end %>
